<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.blade.ShopAR">

    <!-- Notice we modified the android:theme to use Vuzix  HudTheme -->
    <!--Here we register our own DynamicThemeApplication to handle theme changing.-->

    <application
        android:name=".ShopAR_Application"
        android:allowBackup="true"
        android:icon="@drawable/baseline_android_24"
        android:label="@string/app_name"
        android:roundIcon="@drawable/baseline_android_24"
        android:supportsRtl="true"
        android:theme="@style/HudTheme">
        <meta-data
        android:name="com.vuzix.icon.tint" android:value="true" />

        <activity android:name=".SimpleScannerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Vuzix Icon Tint -->
            <!-- If you are going to utilize Vuzix Launcher Tint ensure your icon does have a
            Transparent layer and that some pixel cannot be tint over or modified. If not the icon
            will not look as expected-->
            <meta-data
            android:name="com.vuzix.icon.tint" android:value="true" />

        </activity>
        <activity android:name=".center_content_template_activity" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.CAMERA" />

</manifest>